<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tema_unu/css/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'tema_unu/js/index.js' %}"></script>
<head>

    <meta charset="UTF-8">
    <title>Tema 1</title>

    </head>
<body>
<h1 id="tema" >Tema 1</h1>
<div class="exercitiu">
  <a href="#0" id="ex1" class="ex1">Exercitiul 1</a>
</div>
<div id="ex1_wrap" class="ex1_wrap" style="display: none;">Cel mai mic numar pozitiv care satisface proprietatea este: {{uuu}}
</div>

<div class="exercitiu">
  <a href="#0" id="ex2" class="ex1">Exercitiul 2</a>
</div>
<div id="ex2_wrap" class="ex1_wrap" style="display: none;">
    x=1.0, y={{uuu}}, z={{uuu}}<br>
    Operatia (x+y)+z!=x+(y+z) este {{asociativ}}
    <br>
    Pentru x=0.01, y={{uuu}}, z={{uuu}}

    Operatia (x * y) * z) !=((y*z) * x) este {{asociativ2}}

</div>
<div class="exercitiu">
  <a href="#0" id="ex3" class="ex1">Exercitiul 3</a>
</div>
<div id="ex3_wrap" class="ex1_wrap" style="display: none;">
    <div id="inpt">Dati puterea lui n</div>
    <input id="number" type="number">
    <button id="creare">Afiseaza matricile</button>

    <div class="sidebyside">
<table id="matrixA" class="tableAB">

</table>
    <br>
<table id="matrixB" class="tableAB">

</table>
    </div>
    <div id="matP" style="display: none;">Matricea produs</div>
    <table id="matrixC" class="tableAB">

</table>

    <form onsubmit="return false;">
        {% csrf_token %}
        <button id="calculare" onclick="send()" style="display: none;">Calculeaza produs</button>
    </form>


</div>
</body>
</html>